.emailList {
  flex: 0.8;
  overflow: scroll;
}
.emailList__settings {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between !important;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
}
.emailList::-webkit-scrollbar {
  display: none;
}
.emailList__sections {
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  cursor: pointer;
}
emailList__row {
  padding-bottom: 20px;
}
